pygame is a requirement of this program as it does not currently have an .exe

to install pygame open command prompt and type "pip install pygame" (without quotations)

Run main.py to start the program.
